/* Sidebar Styles */
.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.menu li a.active {
  background-color: #e9ecef;
  color: #0056b3;
  font-weight: bold;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: #f8f9fa;
  color: #0056b3;
}



/* Hidden Sidebar for Small Screens */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }
}

.logo {
  font-size: 18px;
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu-heading {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}

.menu li a {
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s ease;
}

.menu li a:hover {
  background-color: #e9ecef;
  color: #0056b3;
}

/* Burger Menu Icon */
.burger-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 40px;
  cursor: pointer;
  z-index: 1100; 
  transition: all 0.3s ease;
}

.burger-menu i {
  color: #333;
}

.burger-menu.open {
  top: -15px;
  left: calc(165px + 0px);
  transition: all 0.3s ease;
}


@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}
